<nav class="navbar">
    <div class="navbar-container">
        <a href="{{ path('app_home') }}" class="navbar-logo">Library_AFPA</a>
        <div class="navbar-links">
            <a href="{{ path('app_home') }}" class="navbar-link">Accueil</a>

            {% if app.user %}

                <a href="{{ path('app_subscriptions') }}" class="navbar-link">S'abonner</a>
                {% if app.user.subscriptions|length > 0 %}
                    <a href="{{ path('workrooms_reservation') }}" class="navbar-link">Réserver salle d'étude</a>
                {% else %}

                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_users_management') }}" class="navbar-link">Gestion utilisateurs</a>
                    <a href="{{ path('admin_books_management') }}" class="navbar-link">Gestion Livres</a>
                    <a href="{{ path('workrooms_management') }}" class="navbar-link">Gestion salle d'études</a>

                    
                {% endif %}

                <a href="{{ path('app_account') }}" class="navbar-link">Mon compte</a>
                <a href="{{ path('app_logout') }}" class="navbar-link">Déconnexion</a>

                {% if app.user.imageProfil %}
                    <div class="profile-container">
                        <img src="{{ asset('uploads/profile_images/' ~ app.user.imageProfil) }}" 
                            alt="Photo de profil" 
                            class="navbar-profile-image">
                            
                        <!-- Modal -->
                        <div class="profile-modal">
                            <p>Bonjour, {{ app.user.prenom }}</p>
                            <a href="{{ path('app_account') }}">Votre compte</a>
                            <a>Vos livres</a>
                            <a>Votre abonnement</a>
                        </div>
                    </div>
                {% endif %}


            {% else %}
                <a href="{{ path('app_login') }}" class="navbar-link">Connexion</a>
                <a href="{{ path('app_register') }}" class="navbar-link">Inscription</a>
            {% endif %}

        
                    

           
            </div>
    </div>
</nav>