{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block body %}
<div class="container">

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Détails du Livre</h1>

    <div class="card mt-4">
        <div class="card-header">
            <h2>{{ book.title }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Auteur :</strong> {{ book.author }}</p>
            <p><strong>Résumé :</strong> {{ book.summary ? book.summary : 'Aucun résumé disponible.' }}</p>
            <p><strong>Catégories :</strong>
                {% for category in book.categories %}
                    {{ category.categoryName }}{% if not loop.last %}, {% endif %}
                {% else %}
                    Aucune catégorie associée.
                {% endfor %}
            </p>
            <p><strong>État :</strong> {{ book.status.name ?? 'Non spécifié' }}</p>
            <p><strong>Disponible :</strong> 
                {% if book.isAvailable %}
                    Oui
                {% else %}
                    Non 
                    {% if borrowHistory is defined and borrowHistory.returnedAt is defined %}
                     <br> <strong>Date de retour prévue :</strong> {{ borrowHistory.returnedAt|date('d/m/Y') }}
                        
                    {% else %}
                        <br>TEST TEST</br>
                    {% endif %}
                {% endif %}
            </p>

            {% if book.image %}
                <div class="mt-4">
                    <img src="{{ asset(book.image) }}" alt="Image du livre" class="img-fluid" />
                </div>
            {% endif %}
        </div>

        <div class="card-footer">
            {% if app.user and app.user.subscriptions|length > 0 and book.isAvailable %}
                <form method="post" action="{{ path('book_borrow', { customId: book.customId }) }}">
                        <button type="submit" class="btn btn-primary">Emprunter</button>
                </form>
            {% elseif not app.user %}
                <p class="text-danger">Connectez-vous pour emprunter ce livre.</p>
            {% elseif app.user.subscriptions|length == 0 %}
                <p class="text-danger">Vous devez avoir un abonnement actif pour emprunter ce livre.</p>
            {% elseif not book.isAvailable %}
                <p class="text-danger">Ce livre n'est pas disponible pour le moment.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
