{% extends 'base.html.twig' %}

{% block navbar %}
    {# Suppression de la navbar #}
{% endblock %}

{% block body %}

    <div class="Container-catalogue">
        <h1>Catalogue</h1>
         <p>Voici le catalogue :</p>

         {% if books is defined and books|length > 0 %}
         <div class="cards-container">
                {% for book in books %}
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="card hover-card">
                            {% if book.image %}
                                <img src="{{ asset(book.image) }}" class="card-img-top" alt="{{ book.title }}">
                            {% else %}
                                <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ book.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <a href="{{ path('book_view', { customId: book.customId }) }}" class="btn btn-primary">Voir Livre</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun livre disponible.</p>
        {% endif %}
        </div>

{% endblock %}

{% block footer %}
    {# Suppression du footer #}
{% endblock %}
